body {
  margin: 0px;
  font-family: sans-serif;
  flex-direction: column;
  min-height: 100dvh;
}

header,
main {
  background-color: #061130;
  color: #F4F6F8;
}

header {
  padding: 2rem 3.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

nav a {
  color: #F4F6F8;
  margin: 0 1.5rem;
  line-height: 2em;
  padding: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  box-shadow: 1px 1px 3px #b0b1b393;
}

.chat-button {
  background-color: #1c4bc4;
  border-radius: 4px;
}

main {
  /* padding: 5rem 8rem 10rem; */
  flex-wrap: wrap;
  flex-grow: 1;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

main div {
  min-width: 20dvw;
  max-width: 80%;
  justify-content: center;
}

main img {
  max-width: 75%;
}

main p:first-of-type {
  color: #FAFD61;
  font-weight: 2400;
}

footer div {
  text-align: center;
  background-color: #F4F6F8;
  padding: 1.25rem 0;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #4DABFF;
}

li a:hover {
  text-decoration: underline;
  color: #7a4ba7;
}

.display-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  main {
    padding: 5rem 8rem 10rem;
    flex-wrap: wrap;
  }
  
  main div {
    min-width: 20dvw;
    max-width: 40dvw;
  }

  main img {
    max-width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  ul {
    padding: 2.5rem 0;
  }
}